.navbar {
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }
  &__mobile,&__mobile-second {
    text-align: right;
  }
  &__phone {
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
    @include bold();
    text-transform: uppercase;
    text-decoration: none;
  }
  &__worktime {
    display: block;
    font-size: 14px;
    color: $muted-color;
  }
  &__email {
    display: block;
    font-size: 14px;
    color: $muted-color;
  }
}
.menu {
  &-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 70px;
    border: none;
    border-right: 1px solid rgba(#510bba, 0.1);
    border-left: 1px solid rgba(#510bba, 0.1);
    background-color: transparent;
    cursor: pointer;
    &__line {
      display: block;
      height: 3px;
      width: 20px;
      margin: 2px 0;
      background-color: #6c94e6;
    }
  }
}
.logo {
  &__text {
    display: block;
    font-size: 18px;
    @include bold();
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__description {
    display: block;
    font-size: 14px;
    color: #6b6b6b;
  }
}
.btn-outline {
  padding: 15px 20px;
  background-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  color: $primary-color;
  @include bold();
  border: 2px solid $primary-color;
  cursor: pointer;
}